.morning-bg-red {
    background-color: #6c0322;
}

.header-stripe {
  height: 10px;
}
.page-video {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

#mentors {
    background-color: #fff;
}

.navbar-header {
  background-color: #fff;
}