.logo {
  margin: 0 auto;
}
header {
  background-image: none;
  margin-top: 140px;
}
header .mix-slider {
  display: none;
  line-height: 100px;
  background-color: #222;
}
header .mix-slider p {
  font-size: 30px;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
}
header .mix-slider .slide {
  height: 100px;
}
header .mix-slider .slide span {
  color: #fab439;
}
header .mix-slider .slide.center {
  background-color: #6c0322;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}
.navbar-shrink {
  color: white;
}
.navbar-shrink .navbar-collapse > .nav > li > a {
  color: white;
}
section h2.section-heading {
  font-family: "Rokkitt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 85px;
  font-size: 85px;
}
