@import "variables.less";
@import "mixins.less";

.logo {
    margin: 30px auto;
    padding: 0 30px;
    width: 400px;
}

header {
    
    background-image: none;
  
    .mix-slider {
      display: none;
      line-height: @slider-height;
      background-color: #222;
    
    p {
      font-size: 30px;
      display: inline-block;
      line-height: 1em;
      vertical-align: middle;
    }

    .slide {
      height: @slider-height;
    }

    .slide span {
      color: @brand-secondary;
    }

    .slide.center {
      background-color: @brand-primary;
    }
  }
}