@import "variables.less";
@import "mixins.less";

.logo {
    margin: 0 auto;
    padding: 0 30px;
    // width: 400px;
}

body {
    .body-font;
}

header {

    background-image: none;
    margin-top: 140px;

    .mix-slider {
      display: none;
      line-height: @slider-height;
      background-color: #222;

    p {
      font-size: 30px;
      display: inline-block;
      line-height: 1em;
      vertical-align: middle;
    }

    .slide {
      height: @slider-height;
    }

    .slide span {
      color: @brand-secondary;
    }

    .slide.center {
      background-color: @brand-primary;
    }
  }
}

.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  // margin: 5px;
  // padding: 5px;
}

.navbar-shrink {
    color: white;
    .navbar-collapse>.nav>li>a {color:white;}
}

.team-member p {
  margin: 2px 0px;
}


section {
    // margin-top: 100px;
    h2.section-heading {
        .serif-font;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: normal;
    }

    p.section-body {
      // width: 500px;
      text-align: center;
      margin: 30px auto;
      margin-bottom: 50px;
      font-size: 16px;
      color: #555;
    }

}

section#contact .form-group input.form-control {
height: auto;
}

.page-video {
  border: 1px solid whitesmoke;
}

.page-video-actual {
  border: 1px solid gray;
}